# 📂 Datenordner und große Dateien
data/
*.csv

# 🔁 Notebook-Checkpoints
**/.ipynb_checkpoints/

# ⚙️ Python-Cache & temporäre Dateien
__pycache__/
*.pyc

# 🍏 macOS-Systemdateien
.DS_Store

# 🐍 Virtuelle Umgebungen
env/
venv/

models/
reports/

